:root {
  --blue: rgb(64, 224, 213);
  --dark-salmon: rgb(213, 108, 97);
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-color: salmon;
}
main {
  padding: 1rem;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: salmon;
  border-bottom: 1px solid var(--dark-salmon);
  color: white;
  padding: 0 1.5rem;
}
.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;  
}
.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-header__item {
  margin: 0 1rem;
  padding: 0;
}
.main-header__item a {
  text-decoration: none;
  color: white;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
  text-decoration: none;
  color: var(--blue);
  text-shadow: 2px 2px var(--dark-salmon);
}
.page-heading {
  color: white;
  text-shadow: 5px 3px 2px var(--dark-salmon);
}
.page-copy {
  color: white;
}