<%- include('includes/head.ejs') %> 
</head>
<%- include('includes/nav.ejs') %> 
<main>
  <h1>Here da form page</h1>
  <form action="/add-user" method="POST">
    <label for="name">User name</label>
    <input type="text" name="name" id="name">
    <button type="submit">Submit</button>
  </form>
</main>
<%- include('includes/end.ejs') %> 